<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AVR remote</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
		<link rel="stylesheet" type="text/css" href="css/avrremote.css">
	</head>
	<body>
		<div id="app-container" class="container">
			<div id="loading" v-if="!avr.connected">
				<div class="loading-content">
					<div class="spinner">
						<div class="bubble1"></div>
						<div class="bubble2"></div>
						<div class="bubble3"></div>
					</div>
					Loading
				</div>
			</div>
			<settings v-bind:app-config="config" v-cloak></settings>
			<div id="content" v-cloak>
				<h1 class="page-header">{{ avr.name }}</h1>
				<div class="panel-group" id="zones-accordion" role="tablist">
					<zone-panel v-for="(item, index) in avr.zones" :key="item.id" :zone="item" :config="config"></zone-panel>
					<component v-for="item in avr.internals" :is="mapType(item)" :key="item.internalId" :item="item"></component>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.12/jquery.knob.min.js"></script>
		<script src="js/vendor/vue.js"></script>

		<script>
			window.collector = {
				promises: [],
				register: function( promise ) {
					this.promises.push( promise );
				},
			};
		</script>
		<script src="js/utils.js"></script>
		<script src="js/accordion.js"></script>
		<script src="js/volume-dial.js"></script>
		<script src="js/power-toggle.js"></script>
		<script src="js/tuner-panel.js"></script>
		<script src="js/zone-panel.js"></script>
		<script src="js/client.js"></script>
		<script src="js/settings.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
