<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AVR remote</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="css/vendor/normalize.css">
		<link rel="stylesheet" href="css/vendor/milligram.min.css">
		<link rel="stylesheet" type="text/css" href="css/avrremote.css">
	</head>
	<body>
		<div id="app-container">
			<header>
				<div class="container">
					<h1>{{ avr.name }}</h1>
				</div>
			</header>
			<div id="loading" v-if="!avr.connected">
				<div class="loading-content">
					<div class="spinner">
						<div class="bubble1"></div>
						<div class="bubble2"></div>
						<div class="bubble3"></div>
					</div>
					Loading
				</div>
			</div>
			<div id="modal-mask" :class="{'modal-mask': showSettings}" @click="showSettings = false"></div>
			<main id="content" class="container">
				<ul class="panel-group accordion" id="zones-accordion" role="tablist">
					<zone-panel v-for="(item, index) in avr.zones" :key="item.id" :zone="item" :config="config"></zone-panel>
				</ul>
				<ul class="panel-group accordion" id="internals-accordion" role="tablist">
					<component v-for="item in avr.internals" :is="mapType(item)" :key="item.internalId" :item="item"></component>
				</ul>
			</main>
			<footer :class="{ 'minimized': !showSettings }">
				<nav class="fab">
					<ul class="container">
						<li id="open-settings" :class="{ 'active': showSettings }" @click="showSettings = !showSettings">
								<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#settings" /></svg>
						</li>
					</ul>
				</nav>
				<settings :app-config="config" :show="showSettings" @close="showSettings = false"></settings>
			</footer>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.12/jquery.knob.min.js"></script>
		<script src="js/vendor/vue.js"></script>

		<script>
			window.collector = {
				promises: [],
				register: function( promise ) {
					this.promises.push( promise );
				},
			};
		</script>
		<script src="js/utils.js"></script>
		<script src="js/accordion.js"></script>
		<script src="js/volume-dial.js"></script>
		<script src="js/power-toggle.js"></script>
		<script src="js/tuner-panel.js"></script>
		<script src="js/zone-panel.js"></script>
		<script src="js/client.js"></script>
		<script src="js/settings.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
