body {
  color: #ccc;
  background-color: #24292e;
  font-family: "opensans",Helvetica,Arial,sans-serif;
}

a, a:hover, a:focus {
	text-decoration: none;
}

.btn-default {
	background-color: #ccc;
	border-color: #bbb;
}

.volume-dial-wrapper {
	text-align: center;
	padding-bottom: 10px;
}

.volume-wrapper a.btn {
	font-size: 20px;
	line-height: 1;
}

.panel {
	color: #24292e;
}

.panel-heading {
    cursor: pointer;
}

#zones-accordion .panel-heading span {
	font-size: 24px;
	line-height: 34px;
	color: #337ab7;
}

svg.icon {
	fill: #24292e;
	height: 1em;
	width: 1em;
	vertical-align: top;
}

div.volume-column {
	padding: 15px;
}

div.sources-column {
	padding-left: 0;
	padding-right: 0;
}

span.zone-power svg.icon {
	vertical-align: text-bottom;
}

nav ul {
	margin: 0;
	padding: 0;
}

div.sources {
	display: table;
	width: 100%;
}

div.sources nav {
	width: 3.3em;
	display: table-cell;
}

div.sources nav ul li {
	position: relative;
	height: 2.5em;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.sources nav ul li span.input-select {
	display: block;
	padding: 0.6em 1em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	cursor: pointer;
}

div.sources nav.text-right ul li span.input-select {
	left: auto;
	right: 0;
}

div.sources nav ul li.active span.input-select, div.sources nav ul li:hover span.input-select {
	background-color: #12b2e7; /*#23527c;*/
	color: #fff;
}

div.sources nav ul li span.input-select svg.icon {
	fill: #24292e;
	height: 1.3em;
	width: 1.3em;
}

div.sources nav ul li.active span.input-select svg.icon, div.sources nav ul li:hover span.input-select svg.icon {
	fill: #fff;
}

div.sources nav ul li span.input-select span.name {
	display: none;
	padding-left: 1em;
	padding-right: 0;
	font-weight: bold;
	vertical-align: top;
}

div.sources nav.text-right ul li span.input-select span.name {
	padding-left: 0;
	padding-right: 1em;
}

div.sources nav ul li:hover span.input-select span.name {
	display: inline-block;
}

div.zone div.panel-body {
	padding: 0 15px;
}

div.sources-content {
	box-shadow:  0px 50px 25px -20px #ffffff inset, 0px -50px 25px -20px #ffffff inset, -5px 0px 5px -5px rgba(0,0,0,0.5) inset, 5px 0px 5px -5px rgba(0,0,0,0.5) inset;
	padding: 15px;
	display: table-cell;
	vertical-align: top;
}

/* Start - Loading animation */
[v-cloak] {
	display: none;
}

#loading {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #24292e;
}
#loading .loading-content {	
	text-align: center;
	font-variant: small-caps;
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}

#loading .spinner {
	margin: auto;
}

#loading .spinner > div {
	width: 2em;
	height: 2em;
	background-color: #ccc;
	border-radius: 100%;
	animation: scaleout 1.5s infinite ease-in-out;
	display: inline-block;
}

#loading .spinner > div.bubble1 {
	animation-delay: -0.45s;
}

#loading .spinner > div.bubble2 {
	animation-delay: -0.22s;
}

#loading .spinner + div {
	width: 100%;
	text-align: center;
	font-variant: small-caps;
}

@keyframes scaleout {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}
/* End - Loading animation */

/* Start - PowerToggle */
.tgl-btn input {
	display: none;
}

.tgl-btn label {
	background: #cccccc;
	width: 2em;
	height: 1em;
	border-radius: 1em;
	padding: 2px;
	cursor: pointer;
	transition: all .4s ease;
	vertical-align: middle;
}

.tgl-btn label::after {
	background: #ffffff;
	width: 50%;
	height: 100%;
	border-radius: 1em;
	display: block;
	position: relative;
	left: 0;
	transition: all .2s ease;
	content: '';
}

.tgl-btn input:checked + label {
	background: #9fd6ae;
}

.tgl-btn input:checked + label::after {
	left: 50%;
}

.tgl-btn input:disabled + label {
	cursor: not-allowed;
}
/* End - PowerToggle */

/* Start - Transitions */
.auto-expand-enter-active, .auto-expand-leave-active {
	transition: all 0.3s ease;
	overflow: hidden;
}
/* End - Transitions */