@media (max-width: 40rem) {
	.row .column.column-25, .row .column.column-75 {
		flex: 1 1 auto;
		max-width: 100%;
	}
}

.row.row-no-spacing {
	margin-left: 0;
	width: 100%;
}

.row.row-no-spacing .column {
	padding: 0;
}
