svg.icon {
	fill: #24292e;
	height: 2.4rem;
	width: 2.4rem;
	vertical-align: top;
}

button[disabled] {
	cursor: not-allowed;
}

div.volume-column {
	position: relative; /* needed to hide that absolutely positioned input */
}

nav ul {
	margin: 0;
	padding: 0;
}

div.sources {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

div.sources nav {
	width: 5rem;
	align-self: flex-start;
	box-shadow: 11px 0px 15px -15px rgba(0,0,0,0.5);
}

div.sources nav ul li {
	position: relative;
	height: 4rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.sources nav ul li span.input-select {
	display: block;
	padding: 1rem 1.5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	cursor: pointer;
}

div.sources nav.text-right {
	align-self: flex-end;
	box-shadow: -11px 0px 15px -15px rgba(0,0,0,0.5);
}

div.sources nav.text-right ul li span.input-select {
	left: auto;
	right: 0;
}

div.sources nav ul li.active span.input-select, div.sources nav ul li:hover span.input-select {
	background-color: #12b2e7; /*#23527c;*/
	color: #fff;
}

div.sources nav ul li span.input-select svg.icon {
	fill: #24292e;
	height: 2rem;
	width: 2rem;
}

div.sources nav ul li.active span.input-select svg.icon, div.sources nav ul li:hover span.input-select svg.icon {
	fill: #fff;
}

div.sources nav ul li span.input-select span.name {
	display: none;
	padding-left: 2rem;
	padding-right: 0;
	font-weight: bold;
	vertical-align: top;
  line-height: 2rem;
}

div.sources nav.text-right ul li span.input-select span.name {
	padding-left: 0;
	padding-right: 2rem;
}

div.sources nav ul li:hover span.input-select span.name {
	display: inline-block;
}

div.sources-content {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div.sources-content .title {
	font-weight: 300;
	font-size: 7.6rem;
	letter-spacing: -0.1rem;
}

[title] {
  text-decoration: underline dotted orange;
  cursor: help;
}

/* Start - Page layout */
body {
  background-color: #f5f5f5;
}

header {
  background-color: #12b2e7;
  margin-bottom: 2.5rem;
}

header h1 {
  line-height: 2;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5001;
  transition: all 0.3s ease;
  max-height: 100%;
  overflow-y: scroll;
}

footer::-webkit-scrollbar {
  display: none;
}
/* End - Page layout */

/* Start - Panels */
.panel-group {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.panel {
	color: #24292e;
}

.panel-header {
  display: block;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  font-weight: 300;
  font-size: 2.4rem;
  letter-spacing: -.08rem;
  line-height: 2;
  padding: 0 1rem;

  color: #12b2e7;
  background-color: #fff;
}

.panel-header svg.icon {
	height: 4.8rem;
	fill: #12b2e7;
}

.panel-body {
  border-bottom: 1px solid #ddd;
}
/* End - Panels */

/* Start - Accordion */
ul.accordion {
  padding-left: 0;
  list-style-type: none;
}

ul.accordion li {
  margin-bottom: 0px;
}
/* End - Accordion */

/* Start - Loading animation */
#loading {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #24292e;
}
#loading .loading-content {
	text-align: center;
	font-variant: small-caps;
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}

#loading .spinner {
	margin: auto;
}

#loading .spinner > div {
	width: 2em;
	height: 2em;
	background-color: #ccc;
	border-radius: 100%;
	animation: scaleout 1.5s infinite ease-in-out;
	display: inline-block;
}

#loading .spinner > div.bubble1 {
	animation-delay: -0.45s;
}

#loading .spinner > div.bubble2 {
	animation-delay: -0.22s;
}

#loading .spinner + div {
	width: 100%;
	text-align: center;
	font-variant: small-caps;
}

@keyframes scaleout {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}
/* End - Loading animation */

/* Start - PowerToggle */
.tgl-btn input {
	display: none;
}

.tgl-btn label {
	background: #cccccc;
	width: 3.6rem;
	height: 1.8rem;
	border-radius: 0.9rem;
	padding: 0.1rem;
	cursor: pointer;
	transition: all .4s ease;
	margin-bottom: 0;
  display: inline-block;
}

.tgl-btn label::after {
	background: #ffffff;
	width: 50%;
	height: 100%;
	border-radius: 1em;
	display: block;
	position: relative;
	left: 0;
	transition: all .2s ease;
	content: '';
}

.tgl-btn input:checked + label {
	background: #9fd6ae;
}

.tgl-btn input:checked + label::after {
	left: 50%;
}

.tgl-btn input:disabled + label {
	cursor: not-allowed;
}
/* End - PowerToggle */

/* Start - Volume dial */
.volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.volume-buttons-wrapper {
  text-align: center;
  margin-top: -30px;
}

.volume-wrapper input[type='checkbox'] {
	display: none;
}

.volume-wrapper label.mute {
  cursor: pointer;
  display: inline-block;
  border-radius: 0.4em;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  border: 1px solid #12b2e7;
	z-index: 1;
	position: relative;
}

.volume-wrapper label.mute svg {
  height: 2rem;
  width: 2rem;
}

.volume-wrapper input:checked + label.mute {
  background-color: #12b2e7;
}

.volume-wrapper input:checked + label.mute svg {
  fill: #fff;
}
/* End - Volume dial */

/* Start - Tuner */
.panel.tuner .panel-body .canvas-wrapper {
	width: 100%;
	height: 8rem;
	cursor: pointer;
}

.panel.tuner .panel-body .frequency-control {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #999999;
	position: relative;
}

.panel.tuner .panel-body .frequency-control .frequency {
	font-size: 5rem;
	align-self: baseline;
}
.panel.tuner .panel-body .frequency-control .unit {
	font-size: 3rem;
	letter-spacing: -0.1rem;
	align-self: baseline;
}

.panel.tuner .frequency-control .up, .panel.tuner .frequency-control .down {
	cursor: pointer;
}

.panel.tuner .frequency-control .up svg {
	transform: scaleY(1.5);
}

.panel.tuner .frequency-control .down svg {
	transform: rotate(180deg) scaleY(1.5);
}

.panel.tuner .frequency-control .save {
	position: absolute;
	right: 2.5rem;
	cursor: pointer;
}
/* End - Tuner */

/* Start - Transitions */
.auto-expand-enter-active, .auto-expand-leave-active {
	transition: all 0.3s ease;
	overflow: hidden;
}

@keyframes grow {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(2) rotate(50deg);
  }
}
/* End - Transitions */

/* Start - Footer FAB navigation */
main.container {
  margin-bottom: 6rem;
}

footer.minimized {
  max-height: 6rem;
  overflow-y: hidden;
  transition: all 0.3s ease;
}

footer nav.fab {
  width: 100%;
  text-align: right;
}

footer nav.fab ul {
  padding-top: 1rem;
}

footer nav.fab li {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #12b2e7;
  cursor: pointer;
  font-size: 2.4rem;
  text-align: center;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  transition: all 0.2s linear;
}

footer nav.fab li:hover {
  transform: scale(1.2);
}

footer nav.fab li.active {
	background-color: #cccccc;
}

footer nav.fab li svg {
  fill: #fff;
  height: 100%;
}

footer .panel {
  background-color: #fff;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
/* End - FAB navigation */

/* Start - Settings */
.label-inline + input {
  margin-left: 2.5rem;
}

label[for=volume-max] {
  display: block;
}

label[for=volume-max] + div {
  display: flex;
}

#settings #volume-max-slider {
  flex-grow: 100;
}

#settings #volume-max-box {
  width: 4em;
  margin-left: 10px;
}

#settings label#rotation {
  display: block;
}
/* End - Settings */

/* Start - Modal */
.modal-mask {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 5000;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
	transition: all 0.3s ease;
}

.modal-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.modal-container {
	background-color: #fff;
	padding: 2rem;
	transition: all .3s ease;
}

.modal-body {
	margin-bottom: 2rem;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

.ok-cancel-buttons {
  display: flex;
}

.ok-cancel-buttons button {
	margin-bottom: 0;
}

.ok-cancel-buttons button:first-child {
  flex-grow: 80;
}

.ok-cancel-buttons button:last-child {
  flex-grow: 20;
  margin-left: 10px;
}

/* End - Modal */
