body {
  color: #ccc;
  background-color: #24292e;
}

.btn-default {
	background-color: #ccc;
	border-color: #bbb;
}

#mainVolumeKnobWrapper {
	text-align: center;
	padding-bottom: 10px;
}

#mainVolumeWrapper a.btn {
	font-size: 20px;
	line-height: 1;
}