body {
  color: #ccc;
  background-color: #24292e;
  font-family: "opensans",Helvetica,Arial,sans-serif;
}

a, a:hover, a:focus {
	text-decoration: none;
}

.btn-default {
	background-color: #ccc;
	border-color: #bbb;
}

.volume-dial-wrapper {
	text-align: center;
	padding-bottom: 10px;
}

.volume-wrapper a.btn {
	font-size: 20px;
	line-height: 1;
}

.panel {
	color: #24292e;
}

.panel-heading {
    cursor: pointer;
}

#zones-accordion .panel-heading .zone-name {
	font-size: 24px;
	line-height: 34px;
	color: #337ab7;
}

div.volume-column {
	padding: 15px;
}

div.sources-column {
	padding-left: 0;
	padding-right: 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

div.sources {
	display: table;
}

div.sources nav {
	width: 3.3em;
	display: table-cell;
}

div.sources nav ul li {
	position: relative;
	height: 2.5em;
	list-style: none;
	margin: 0;
	padding: 0;
}

div.sources nav ul li a {
	display: block;
	padding: 0.6em 1em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
}

div.sources nav.text-right ul li a {
	left: auto;
	right: 0;
}

div.sources nav ul li:hover a {
	background-color: #12b2e7; /*#23527c;*/
	color: #fff;
}

div.sources nav ul li a svg.icon {
	fill: #24292e;
	height: 1.3em;
	width: 1.3em;
}

div.sources nav ul li:hover a svg.icon {
	fill: #fff;
}

div.sources nav ul li a span.name {
	display: none;
	padding-left: 1em;
	padding-right: 0;
	font-weight: bold;
	vertical-align: top;
}

div.sources nav.text-right ul li a span.name {
	padding-left: 0;
	padding-right: 1em;
}

div.sources nav ul li:hover a span.name {
	display: inline-block;
}

div.zone div.panel-body {
	padding: 0 15px;
}

div.sources-content {
	box-shadow:  0px 50px 25px -20px #ffffff inset, 0px -50px 25px -20px #ffffff inset, -5px 0px 5px -5px rgba(0,0,0,0.5) inset, 5px 0px 5px -5px rgba(0,0,0,0.5) inset;
	padding: 15px;
	display: table-cell;
	vertical-align: top;
}


