<div class="volume-wrapper">
	<div class="volume-dial-wrapper">
		<input ref="input" type="text" :value="displayVolume" class="zone-volume-value">
	</div>
	<div class="btn-group btn-group-justified" role="group">
		<a class="btn btn-default" href="#" role="button">
			<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#volume-down" /></svg>
		</a>
		<a class="btn btn-default" href="#" role="button">
			<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#volume-off" /></svg>
		</a>
		<a class="btn btn-default" href="#" role="button">
			<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#volume-up" /></svg>
		</a>
	</div>
</div>
