<div class="panel panel-default">
	<div class="panel-heading clearfix" data-toggle="collapse" data-parent="#zones-accordion" v-bind:data-target="panelId">
		<span class="zone-name">{{zone.name}}</span>
		<span class="pull-right zone-power">
			<PowerToggle v-bind:zoneId="zone.id" v-bind:power.sync="zone.power"/>
		</span>
	</div>
	<div v-bind:id="panelId" class="panel-collapse collapse in zone" role="tabpanel">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9 sources-column">
					<div class="sources">
						<nav>
							<ul>
								<li v-for="input in inputs1" v-bind:class="{ active: input.id == zone.selected_input }">
									<span class="input-select" v-bind:data-zone="zone.id" v-bind:data-input="input.id" v-on:click="zone.selected_input = input.id">
										<svg class="icon"><use v-bind:xlink:href="inputIcon(input.icon)" /></svg>
										<span class="name">{{input.name}}</span>
									</span>
								</li>
							</ul>
						</nav>
						<div class="sources-content">
							hallo world!
						</div>
						<nav class="text-right">
							<ul>
								<li v-for="input in inputs2" v-bind:class="{ active: input.id == zone.selected_input }">
									<span class="input-select" v-bind:data-zone="zone.id" v-bind:data-input="input.id" v-on:click="zone.selected_input = input.id">
										<span class="name">{{input.name}}</span>
										<svg class="icon"><use v-bind:xlink:href="inputIcon(input.icon)" /></svg>
									</span>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-md-3 volume-column">
					<VolumeDial v-bind:zoneId="zone.id" v-bind:volume.sync="zone.volume" v-bind:step="config.volume_step" v-bind:max="config.volume_max"/>
				</div>
			</div>
		</div>
	</div>
</div>