<accordion-panel>
	<div slot="header">
		<span class="zone-name">{{zone.name}}</span>
		<span class="pull-right zone-power">
			<power-toggle :zoneId="zone.zoneId" v-model="zone.power"></power-toggle>
		</span>
	</div>

	<div slot="content" class="row">
		<div class="col-1 col-md-9 sources-column">
			<div class="sources">
				<nav>
					<ul>
						<li v-for="input in inputs1" :class="{ active: input.id == zone.selected_input }">
							<span class="input-select" :data-input="input.id" @click="zone.selected_input = input.id">
								<svg class="icon"><use :xlink:href="inputIcon(input.icon)" /></svg>
								<span class="name">{{input.name}}</span>
							</span>
						</li>
					</ul>
				</nav>
				<div class="sources-content">
					hallo world!
				</div>
				<nav class="text-right">
					<ul>
						<li v-for="input in inputs2" :class="{ active: input.id == zone.selected_input }">
							<span class="input-select" :data-input="input.id" @click="zone.selected_input = input.id">
								<span class="name">{{input.name}}</span>
								<svg class="icon"><use :xlink:href="inputIcon(input.icon)" /></svg>
							</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="col-1 col-md-3 volume-column">
			<volume-dial v-model="zone.volume" :step="config.volume_step" :max="config.volume_max"></volume-dial>
		</div>
	</div>
</accordion-panel>
