{% extends "layout.html" %}
{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-3.3.7.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-toggle-2.2.0.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avrremote.css') }}">
{% endblock %}
{% block body %}
	<h1 class="page-header">
		<div class="row">
			<div class="col-md-11">{{static_info.name}}</div>
			<div class="col-md-1 text-right"><input {% if status.zones[0].power %}checked{% endif %} id="mainPower" data-toggle="toggle" data-on="<i class='fa fa-power-off'></i>" data-onstyle="success" data-off="<i class='fa fa-power-off'></i>"  type="checkbox"></div>
		</div>
	</h1>
	<div class="row">
		<div class="col-md-1">
			<ul id="mainSources" class="nav nav-stacked" role="tablist">
				<li role="presentation">
					<a href="#home" role="tab" data-toggle="tab">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</li>
				<li role="presentation">
					<a href="#profile" role="tab" data-toggle="tab">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</li>
				<li role="presentation">
					<a href="#messages" role="tab" data-toggle="tab">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</li>
				<li role="presentation">
					<a href="#settings" role="tab" data-toggle="tab">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-8 tab-content">
			<div role="tabpanel" class="tab-pane" id="home">...home</div>
			<div role="tabpanel" class="tab-pane" id="profile">...profile</div>
			<div role="tabpanel" class="tab-pane" id="messages">...messages</div>
			<div role="tabpanel" class="tab-pane" id="settings">...settings</div>
		</div>
		<div class="col-md-3">
			<div id="mainVolumeWrapper">
				<div id="mainVolumeKnobWrapper">
					<input type="text" value="{{status.zones[0].volume}}" id="mainVolume" data-displayPrevious="true" data-width="95%">
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-default" href="#" role="button">
						<span class="fa fa-volume-down" aria-hidden="true"></span>
					</a>
					<a class="btn btn-default" href="#" role="button">
						<span class="fa fa-volume-off" aria-hidden="true"></span>
					</a>
					<a class="btn btn-default" href="#" role="button">
						<span class="fa fa-volume-up" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	fallback.ready(function() {
		$(function() {
			$('#mainPower').change(function() {
				$.ajax({
						url: '/api/v1.0/zone/0/power',
						type: 'PUT',
						data: JSON.stringify({ value: $(this).prop('checked') }),
						contentType: 'application/json; charset=utf-8'					
				})
			});
		
			$('#mainVolume').knob({
				'min': 0,
				'max': {{config.MAX_VOLUME}},
				'step': {{static_info.volume_step}},
				{% if static_info.volume_step < 1 %}
				'format': function(value) {
					return sprintf('%04.1f', value);
				},
				{% endif %}
				'release': function(volume) {
					$.ajax({
						url: '/api/v1.0/zone/0/volume',
						type: 'PUT',
						data: JSON.stringify({ value: parseFloat($('#mainVolume').val()) }),
						contentType: 'application/json; charset=utf-8'
					});
				}
			});
			
			$('#mainSources').tab();
			$('#mainSources a[href="#profile"]').tab('show');
		});
	});
{% endblock %}