{% extends "layout.html" %}
{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-3.3.7.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-toggle-2.2.0.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-4.7.0.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avrremote.css') }}">
{% endblock %}
{% block body %}
	<h1 class="page-header">{{static_info.name}}</h1>
	<div class="panel-group" id="zones-accordion" role="tablist">
	{% for zoneName in static_info.zones %}
		<div class="panel panel-default">
			<div class="panel-heading clearfix" data-toggle="collapse" data-parent="#zones-accordion" data-target="#zone{{loop.index0}}-body">
				<span class="zone-name">{{zoneName}}</span>
				<span class="pull-right">
					<input {% if status.zones[loop.index0].power %}checked{% endif %} id="zone{{loop.index0}}-power" data-toggle="toggle" data-on="<i class='fa fa-power-off'></i>" data-onstyle="success" data-off="<i class='fa fa-power-off'></i>" type="checkbox">
				</span>
			</div>
			<div id="zone{{loop.index0}}-body" class="panel-collapse collapse{% if loop.index0 == 0 %} in{% endif %}" role="tabpanel">
				<div class="panel-body">
					<div class="row">
						{% set menu_items = static_info.sources|slice(2) %}
						<div class="col-md-1">
							<nav id="zone{{loop.index0}}-sources" class="nav nav-stacked sources">
								<ul>
									{% for item, icon in menu_items|first %}
									<li>
										<a href="#item">
											<div class="svg-icon svg-baseline">
												<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#ic_{{icon}}_24px" /></svg>
											</div>
											<span class="name">{{item}}</span>
										</a>
									</li>
									{% endfor %}
								</ul>
							</nav>
						</div>
						<div class="col-md-7">
							<div role="tabpanel" class="tab-pane" id="profile">{{static_info.sources}} selected: {{status}}</div>
						</div>
						<div class="col-md-1">
							<nav id="zone{{loop.index0}}-sources" class="nav nav-stacked sources text-right">
								<ul>
									{% for item, icon in menu_items|first %} {# |first here looks weird, but menu_items is actually a generator and first seems to get the next item... #}
									<li>
										<a href="#item">
											<span class="name">{{item}}</span>
											<div class="svg-icon svg-baseline">
												<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#ic_{{icon}}_24px" /></svg>
											</div>
										</a>
									</li>
									{% endfor %}
								</ul>
							</nav>
						</div>
						<div class="col-md-3">
							<div class="volume-wrapper">
								<div class="volume-dial-wrapper">
									<input type="text" value="{{status.zones[loop.index0].volume}}" id="zone{{loop.index0}}-volume-dial" data-displayPrevious="true" data-angleOffset="-125" data-angleArc="250" data-rotation="anticlockwise" data-width="220" data-height="175">
								</div>
								<div class="btn-group btn-group-justified" role="group">
									<a class="btn btn-default" href="#" role="button">
										<span class="fa fa-volume-down" aria-hidden="true"></span>
									</a>
									<a class="btn btn-default" href="#" role="button">
										<span class="fa fa-volume-off" aria-hidden="true"></span>
									</a>
									<a class="btn btn-default" href="#" role="button">
										<span class="fa fa-volume-up" aria-hidden="true"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
{% block script %}
	fallback.ready(function() {
		$(function() {
			{% for zoneName in static_info.zones %}
				$('#zone{{loop.index0}}-power').change(function(e) {
					$.ajax({
							url: '/api/v1.0/zone/{{loop.index0}}/power',
							type: 'PUT',
							data: JSON.stringify({ value: $(this).prop('checked') }),
							contentType: 'application/json; charset=utf-8'					
					});
				});
				
				// prevent checkbox .click event to bubble up (which would trigger the accordion click :()
				$('.toggle:has(#zone{{loop.index0}}-power)').click(function(e) {
					var $checkbox = $(this).find('input[type=checkbox]')
					$checkbox.bootstrapToggle('toggle')
					e.stopPropagation();
				});
			
				$('#zone{{loop.index0}}-volume-dial').knob({
					'min': 0,
					'max': {{config.MAX_VOLUME}},
					'step': {{static_info.volume_step}},
					{% if static_info.volume_step < 1 %}
					'format': function(value) {
						return sprintf('%04.1f', value);
					},
					{% endif %}
					'release': function(volume) {
						$.ajax({
							url: '/api/v1.0/zone/{{loop.index0}}/volume',
							type: 'PUT',
							data: JSON.stringify({ value: parseFloat($('#zone{{loop.index0}}-volume-dial').val()) }),
							contentType: 'application/json; charset=utf-8'
						});
					}
				});
			{% endfor %}
		});
	});
{% endblock %}