{% extends "layout.html" %}
{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-3.3.7.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-toggle-2.2.0.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avrremote.css') }}">
{% endblock %}
{% block body %}
	<h1 class="page-header">{{static_info.name}}</h1>
	<div class="panel-group" id="zones-accordion" role="tablist">
	{% for zoneName in static_info.zones %}
		{% set zoneId = loop.index0 %}
		<div class="panel panel-default">
			<div class="panel-heading clearfix" data-toggle="collapse" data-parent="#zones-accordion" data-target="#zone{{zoneId}}-body">
				<span class="zone-name">{{zoneName}}</span>
				<span class="pull-right zone-power">
					{% set power_off_url = url_for('static', filename='svg/sprite/input_sources_24px.svg') %}
					<input {% if status.zones[zoneId].power %}checked{% endif %} id="zone{{zoneId}}-power" data-toggle="toggle" data-on="<svg class='icon'><use xlink:href='{{power_off_url}}#power' /></svg>" data-onstyle="success" data-off="<svg class='icon'><use xlink:href='{{power_off_url}}#power' /></svg>" type="checkbox">
				</span>
			</div>
			<div id="zone{{zoneId}}-body" class="panel-collapse collapse{% if zoneId == 0 %} in{% endif %} zone" role="tabpanel">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-9 sources-column">
							<div class="sources">
								{% set menu_items = static_info.sources|slice(2) %}
								{% set menu_items_left = menu_items|first %}
								{% set menu_items_right = menu_items|first %} {# |first here looks weird, but menu_items is actually a generator and first seems to get the next item... #}
								{% set menu_items_left_len = menu_items_left|count %}
								<nav>
									<ul>
										{% for item, icon in menu_items_left %}
										<li {% if loop.index0 == status.zones[zoneId].input %}class="active"{% endif %}>
											<a href="#fixme" class="input-select" data-zone="{{zoneId}}" data-input="{{loop.index0}}">
												<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#{{icon}}" /></svg>
												<span class="name">{{item}}</span>
											</a>
										</li>
										{% endfor %}
									</ul>
								</nav>
								<div class="sources-content">
									{{static_info.sources}} selected: {{status}}
								</div>
								<nav class="text-right">
									<ul>
										{% for item, icon in menu_items_right %}
										<li {% if (loop.index0 + menu_items_left_len) == status.zones[zoneId].input %}class="active"{% endif %}>
											<a href="#fixme" class="input-select" data-zone="{{zoneId}}" data-input="{{loop.index0 + menu_items_left_len}}">
												<span class="name">{{item}}</span>
												<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#{{icon}}" /></svg>
											</a>
										</li>
										{% endfor %}
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-md-3 volume-column">
							<div class="volume-wrapper">
								<div class="volume-dial-wrapper">
									<input type="text" value="{{status.zones[zoneId].volume}}" id="zone{{zoneId}}-volume-dial" data-displayPrevious="true" data-angleOffset="-125" data-angleArc="250" data-rotation="{{config.ROTATION}}" data-width="220" data-height="175">
								</div>
								<div class="btn-group btn-group-justified" role="group">
									<a class="btn btn-default" href="#" role="button">
										<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#volume-down" /></svg>
									</a>
									<a class="btn btn-default" href="#" role="button">
										<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#volume-off" /></svg>
									</a>
									<a class="btn btn-default" href="#" role="button">
										<svg class="icon"><use xlink:href="{{ url_for('static', filename='svg/sprite/input_sources_24px.svg') }}#volume-up" /></svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
{% block script %}
	fallback.ready(function() {
		$(function() {
			$('div.sources nav').on('click', '.input-select', function(e) {
				var zoneId = $(this).data('zone');
				var inputId = $(this).data('input');
				$.ajax({
						url: '/api/v1.0/zone/' + zoneId + '/input',
						type: 'PUT',
						data: JSON.stringify({ value: inputId }),
						contentType: 'application/json; charset=utf-8'					
				});
			});
			
			{% for zoneName in static_info.zones %}
				{% set zoneId = loop.index0 %}
				$('#zone{{zoneId}}-power').change(function(e) {
					$.ajax({
							url: '/api/v1.0/zone/{{zoneId}}/power',
							type: 'PUT',
							data: JSON.stringify({ value: $(this).prop('checked') }),
							contentType: 'application/json; charset=utf-8'					
					});
				});
				
				// prevent checkbox .click event to bubble up (which would trigger the accordion click :()
				$('.toggle:has(#zone{{zoneId}}-power)').click(function(e) {
					var $checkbox = $(this).find('input[type=checkbox]')
					$checkbox.bootstrapToggle('toggle')
					e.stopPropagation();
				});
			
				$('#zone{{zoneId}}-volume-dial').knob({
					'min': 0,
					'max': {{config.MAX_VOLUME}},
					'step': {{static_info.volume_step}},
					{% if static_info.volume_step < 1 %}
					'format': function(value) {
						return sprintf('%04.1f', value);
					},
					{% endif %}
					'release': function(volume) {
						$.ajax({
							url: '/api/v1.0/zone/{{zoneId}}/volume',
							type: 'PUT',
							data: JSON.stringify({ value: parseFloat($('#zone{{zoneId}}-volume-dial').val()) }),
							contentType: 'application/json; charset=utf-8'
						});
					}
				});
			{% endfor %}
		});
	});
{% endblock %}