<accordion-panel class="tuner">
	<div slot="header">
		<svg class="icon"><use :xlink:href="inputIcon(item.icon)" /></svg>
		<span class="name">Tuner</span>
	</div>

	<div slot="content">
		<div class="canvas-wrapper">
			<frequency-band :freq="item.freq" :band="item.band" @freqChange="freq => { item.freq = freq }" @freqSeek="freq => { seekPosition = freq }"></frequency-band>
		</div>
		<div class="frequency-control">
			<span class="down" @click="item.seekDown()">
				<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#play" /></svg>
			</span>
			<span class="frequency">{{displaySeekPosition}}</span>
			<span class="unit">{{freqUnit}}</span>
			<span class="up" @click="item.seekUp()">
				<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#play" /></svg>
			</span>
		</div>

		<label for="tuner-am">
			<input type="radio" value="AM" id="tuner-am" v-model="item.band" /> AM
		</label>
		<label for="tuner-fm">
			<input type="radio" value="FM" id="tuner-fm" v-model="item.band" /> FM
		</label>
	</div>
</accordion-panel>
