<div class="volume-wrapper">
	<div class="volume-dial-wrapper">
		<input ref="input" type="text" :value="displayVolume" class="zone-volume-value" data-fgColor="#12b2e7" data-bgColor="#cccccc">
		<div class="volume-buttons-wrapper">
			<input :id="_uid" type="checkbox" :checked="mute" @change="$emit('muteChanged', $event.target.checked)"/>
			<label :for="_uid" class="mute">
				<svg class="icon"><use xlink:href="svg/sprite/input_sources_24px.svg#volume-off" /></svg>
			</label>
		</div>
	</div>
</div>
