<accordion-panel class="zone">
	<div slot="header">
		<span class="zone-name">{{zone.name}}</span>
		<span class="float-right zone-power">
			<power-toggle :zoneId="zone.zoneId" v-model="zone.power"></power-toggle>
		</span>
	</div>

	<div slot="content" class="row row-no-spacing">
		<div class="column column-75 sources-column">
			<div class="sources">
				<nav>
					<ul>
						<li v-for="input in inputs1" :class="{ active: input.id == zone.input }">
							<span class="input-select" :data-input="input.id" @click="zone.input = input.id">
								<svg class="icon"><use :xlink:href="inputIcon(input.icon)" /></svg>
								<span class="name">{{input.name}}</span>
							</span>
						</li>
					</ul>
				</nav>
				<div class="sources-content">
					hello world!
				</div>
				<nav class="text-right">
					<ul>
						<li v-for="input in inputs2" :class="{ active: input.id == zone.input }">
							<span class="input-select" :data-input="input.id" @click="zone.input = input.id">
								<span class="name">{{input.name}}</span>
								<svg class="icon"><use :xlink:href="inputIcon(input.icon)" /></svg>
							</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="column column-25 volume-column">
			<volume-dial :volume="zone.volume" @volumeChanged="zone.volume = $event" :step="config.volume_step" :max="config.volume_max" :rotation="config.rotation" :mute="zone.mute" @muteChanged="zone.mute = $event"></volume-dial>
		</div>
	</div>
</accordion-panel>
